.qpicker {
  font-size: 1rem;

  position: relative;
  display: grid;

  flex-direction: row;
  min-width: 160px;

  margin: 0;
  padding: 0;

  user-select: none;
  --qp-area-size: 140px;
  --qp-border: 1px solid black;
  --qp-border-radius: var(--q-border-radius);

  --qp-preview-width: 1.8em;



  --qp-preview-height: 1.8em;
  --qp-slider-height: 1em;
  --qp-slider-border-radius: 1em;
  --qp-thumb-size: 1.3em;
  --qp-thumb-border: 1px solid white;
  --qp-thumb-border-radius: 50%;
  --qp-thumb-border-radius-hover: 3px;
  --qp-thumb-shadow: 0 0px 2px rgba(0, 0, 0, 0.85);

  grid-template-columns: auto 1fr;
  gap: 0.8rem;
  --qp-bg-checker: repeating-conic-gradient(hsla(0, 0%, 0%, 1) 0% 25%, hsla(0, 0%, 30%, 1) 0% 50%) 50% / .75rem .75rem;
  --qp-alpha: 0.5;
  --qp-h: 319;


  --qp-sl: 100%;
  --qp-l: 100%;


  --qp-hsla: hsla(var(--qp-h), var(--qp-sl), var(--qp-l), var(--qp-alpha, 1));

  --qp-hsla-previous: transparent;

  --qp-font-monospace: var(--q-font-family-mono, monospace);

  * {
    box-sizing: border-box;
  }
}

.qp-area,
.qp-slider .qp-slider-track {
  border: var(--qp-border, 1px solid var(--q-input-border-color));
  border-radius: var(--qp-border-radius, var(--q-border-radius));
  background-clip: content-box !important;
  box-shadow: var(--q-hl-in-shadow);
}

.qp-disabled {
  cursor: not-allowed;
  filter: opacity(0.9) brightness(0.6) contrast(0.9);

  > * {
    pointer-events: none;
  }
}

.qp-area {
  position: relative;
  overflow: visible;
  align-self: center;
  box-sizing: border-box;
  width: auto;
  min-width: var(--qp-area-size);
  height: var(--qp-area-size);
  margin: 0;
  cursor: crosshair;
  transition: background 200ms ease;
  outline: none !important;
  background: linear-gradient(to bottom, transparent, hsla(0, 0%, 0%, var(--qp-alpha, 1))) no-repeat,
  linear-gradient(to right, hsla(0, 0%, 100%, var(--qp-alpha, 1)), hsla(var(--qp-h, 325), 100%, 50%, var(--qp-alpha, 1))) no-repeat,
  var(--qp-bg-checker);

  background-clip: content-box;


  .qp-thumb {
    position: absolute;
    z-index: 2;
    bottom: 100%;
    left: 0;
    box-sizing: border-box;
    width: var(--qp-thumb-size);
    height: var(--qp-thumb-size);
    transition: left 150ms ease, right 150ms ease, bottom 150ms ease, top 150ms ease,
    zoom 150ms ease, transform 350ms ease, border-radius 350ms ease;
    transform: translate(-50%, 50%) rotate(0deg);
    /*transform: translate(-50%, -50%) rotate(0deg);*/
    border: var(--qp-thumb-border, 1px solid white);
    border-radius: var(--qp-thumb-border-radius, 50%);
    outline: none !important;
    background-color: var(--qp-hsla);
    background-clip: content-box !important;
    filter: drop-shadow(var(--qp-thumb-shadow, 0 0px 2px rgba(0, 0, 0, 0.85)));

    &.dragging {
      zoom: 1.5;

      &.no-transition {
        transition-property: zoom, transform, border-radius;
      }
    }
  }

  &:hover, &:focus {
    .qp-thumb {
      transform: translate(-50%, 50%) rotate(45deg);
      border-radius: var(--qp-thumb-border-radius-hover) !important;
    }
  }

  &.hsl-mode {
    z-index: 1;

    border-radius: 50%;
    background: var(--qp-bg-checker);
    aspect-ratio: 1 / 1;
    justify-self: center;
    /*border: 0 !important;*/
    /*box-shadow: none !important;*/

    &:after {
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      overflow: hidden;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      content: "";
      opacity: var(--qp-alpha, 1);
      border-radius: 50%;
      background-image: radial-gradient(circle closest-side, white, transparent),
      conic-gradient(from 0deg in hsl longer hue, red, red);
      background-repeat: no-repeat no-repeat;
      background-clip: content-box !important;
      background-size: 100% 100%;
      box-shadow: var(--q-hl-in-shadow);
      /*border: var(--qp-border);*/
    }
  }

  .qp-thumb {
    top: 50%;
    bottom: auto;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    background-color: hsla(var(--qp-h), var(--qp-sl), 50%, var(--qp-alpha, 1)) !important;
  }

  &:hover, &:focus {
    .qp-thumb {
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }
}



.qp-slider {
  display: grid;
  align-items: center;
  margin: 0;
  padding: 0;
  grid-template-columns: auto 1fr auto;
  gap: 0.6em;


  .qp-slider-label,
  .qp-slider-output {
    /*font-family: var(--qp-font-monospace), monospace;*/
    font-size: 0.875em;
    /*font-weight: bold;*/
    line-height: 1;
    align-self: center;
    justify-self: left;
    /*grid-column: 1;*/
  }

  .qp-slider-output {
    font-size: 0.875em;
    justify-self: right;
  }

  .qp-slider-label {
    grid-column: 1;
  }



  .qp-slider-track {
    font-size: inherit;
    position: relative;
    box-sizing: border-box;
    width: auto;
    height: var(--qp-slider-height, 1em);
    margin: 0;
    padding: 0;
    cursor: col-resize;
    border-radius: var(--qp-slider-height, 1em);
    /*transition: all 800ms ease;*/
    outline: none !important;
    background: var(--q-input-bg-color);
    background-clip: padding-box !important;

    .qp-slider-thumb {
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 0;
      box-sizing: border-box;
      width: var(--qp-thumb-size, calc(1.3em));
      height: var(--qp-thumb-size, calc(1.3em));
      transition: left 150ms ease, bottom 150ms ease,
      zoom 150ms ease, transform 350ms ease, border-radius 350ms ease;
      transform: translate(-50%, -50%) rotate(0deg);
      border: var(--qp-thumb-border, 1px solid var(--q-button-border-color));
      border-radius: var(--qp-thumb-border-radius, 50%);
      background-color: var(--q-button-bg-color);
      background-clip: content-box !important;
      filter: drop-shadow(var(--qp-thumb-shadow));

      &.dragging {
        zoom: 1.2;

        &.no-transition {
          transition-property: zoom, transform, border-radius;
        }
      }
    }

    &:hover, &:focus {
      .qp-slider-thumb {
        transform: translate(-50%, -50%) rotate(45deg);
        border-radius: var(--qp-thumb-border-radius-hover, 3px);
      }
    }

    &.qp-hue {
      background: linear-gradient(in oklch longer hue to right, red, red) no-repeat;

      .qp-slider-thumb {
        background-color: hsl(var(--qp-h), 100%, 50%);
      }
    }

    &.qp-alpha {
      background: linear-gradient(to right, hsla(var(--qp-h), var(--qp-sl, 50%), var(--qp-l, 50%), 0), hsla(var(--qp-h), var(--qp-sl, 50%), var(--qp-l, 50%), 1)) no-repeat, var(--qp-bg-checker);

      .qp-slider-thumb {
        background-color: hsla(var(--qp-h), var(--qp-sl, 50%), var(--qp-l, 50%), var(--qp-alpha, 1));
      }
    }

    &.qp-saturation {
      background: linear-gradient(to right, hsl(var(--qp-h), 0%, 50%), hsl(var(--qp-h), 100%, 50%)) no-repeat;

      .qp-slider-thumb {
        background-color: hsl(var(--qp-h), var(--qp-sl, 50%), 50%);
      }
    }

    &.qp-lightness {
      background: linear-gradient(to right, hsl(var(--qp-h), var(--qp-sl, 50%), 1%), hsl(var(--qp-h), var(--qp-sl, 50%), 50%), hsl(var(--qp-h), var(--qp-sl, 50%), 100%)) no-repeat;

      .qp-slider-thumb {
        background-color: hsl(var(--qp-h), var(--qp-sl, 50%), var(--qp-l, 50%));
      }
    }
  }

}

.qp-label {
  font-size: 1.30rem;
  font-weight: bold;
  line-height: 1;
  align-self: center;
  grid-row: 1;
}

.qp-preview {
  position: relative;
  display: grid;
  overflow: hidden;
  align-self: center;
  box-sizing: border-box;
  border: var(--qp-border);
  border-radius: var(--qp-border-radius);
  background-clip: content-box !important;
  box-shadow: var(--q-hl-in-shadow);
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;

  gap: 0px;
  grid-column: auto / span 1;
  grid-row: 1;
  /*background: var(--qp-bg-checker);*/
  justify-self: center;

  .qp-preview-before,
  .qp-preview-after {
    position: relative;
    display: block;
    overflow: hidden;
    box-sizing: border-box !important;
    width: calc(var(--qp-preview-width) + 0px);
    min-width: 1rem;
    height: var(--qp-preview-height);
    min-height: 1rem;
    padding: 0.0em;
    content: "";
    border: 0;
    border-left: 1px solid hsl(0, 0%, 100%, 0.06);
    border-radius: 0;
    background: var(--qp-hsla-previous);
    background-clip: border-box !important;
    box-shadow: var(--q-hl-out-shadow);
    grid-row: 1;

    &:before {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      background: var(--qp-bg-checker);
    }
  }

  .qp-preview-before {
    cursor: pointer;
    grid-column: 1;
    /*border-top-left-radius: calc(var(--qp-border-radius) - 1px);*/
    /*border-bottom-left-radius: calc(var(--qp-border-radius) - 1px);*/
  }

  .qp-preview-after {
    background: var(--qp-hsla);
    grid-column: 3;
  }

  &:after {
    position: relative;
    z-index: 1;
    display: block;
    overflow: hidden;
    box-sizing: content-box;
    width: 0;
    /*border-right: 1px solid hsl(0, 0%, 100%, 0.05);*/
    /*margin-right: -1px;*/
    height: var(--qp-preview-height);
    content: "";
    border-left: var(--qp-border);
    background: transparent;
    grid-column: 2;
    grid-row: 1;
  }

}

.qp-output {
  /*font-family: var(--qp-font-monospace), monospace;*/
  font-size: 1rem;
  line-height: 1;
  display: flex;
  align-self: center;
  flex-direction: column;
  max-width: 100%;
  grid-column: auto / span 2;
  grid-row: auto;
  justify-self: center;
  gap: 0.5em;

  .qp-output-mode-selector {
    font-size: 0.875em;
    /*background: red;*/
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
    gap: 0.3em;
    flex-wrap: wrap;
  }

  .qp-output-value {
    /*font-family: var(--qp-font-monospace), monospace;*/
    /*letter-spacing: -0.05em;*/
    font-size: 0.875em;
    line-height: 1;
    overflow: hidden;
    align-self: center;
    max-width: 100%;
    height: auto;
    padding: 0.2em 0.17em !important;
    text-align: center;
    /*white-space: nowrap;*/
    text-overflow: ellipsis;

    &[data-invalid="true"] {
      border-bottom-color: hsl(0 100% 50% / 50%);

      &:focus {
        background-color: hsl(0 100% 50% / 50%);
        /*border-style: dashed;*/
        /*border-color: hsl(0 100% 50% / 50%);*/
      }
    }
  }
}

.qp-area,
.qp-slider {
  grid-column: auto / span 2;
  grid-row: auto;
}






