body {
  max-width: 400px;
}


#picker-container {
  max-width: 200px;
  margin: 0 auto;
}

#controls-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.1em;
}

#results-container {
  font-size: 0.9rem;
}

.tmp {
  top: 0;


  right: 0;
  bottom: 0;
  left: 0;
}